@import '../../scss/measurements.scss';

.logo {
  height: calc(#{$header-bar-height} - 8px);
}

.custom-bar{
  height: $header-bar-height;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.offset-button-margin{
  margin-right: -40px;
}
