@import '../../scss/measurements.scss';

.logo{
  height: 64px;
  // margin-left: 3rem;
}

.custom-bar{
  height: $header-bar-height;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-form-field-underline{
  display: none !important;
}
