<mat-toolbar class="custom-bar justify-content-between pr-0 pr-md-3 pr-lg-4 pr-xl-5">
  <!-- <span> -->
  <button
    type="button"
    class="offset-button-margin"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="(isSmallScreen$ | async)"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <img
    src="assets/logo.png"
    alt=""
    srcset=""
    class="logo"
    [ngClass]="{ 'mx-auto': isSmallScreen$ | async }"
  />
  <!-- </span> -->
  <span>
    <span class="d-none d-md-block">
      <rekt-season-selector></rekt-season-selector>
    </span>
  </span>
</mat-toolbar>
