// bootstrap
@import '~bootstrap-scss/functions';
@import '~bootstrap-scss/variables';
@import '~bootstrap-scss/mixins';
@import '~bootstrap-scss/reboot'; // cols dont seem to work without this
@import '~bootstrap-scss/grid';
@import '~bootstrap-scss/utilities';

@import './scss/theme.scss';
@import './scss/utils.scss';
/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// fixes
.cdk-mouse-focused,
.cdk-touch-focused,
.cdk-program-focused {
  outline: none !important;
}

// utils
.overflow-hidden {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}
