<rekt-season-header></rekt-season-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <!-- Season Champion -->
      <mat-card class="mat-elevation-z5 pb-0 overflow-hidden mb-5">
        <mat-card-header>
          <mat-card-title>Season Champions</mat-card-title>
        </mat-card-header>
        <img
          class="mat-card-image"
          src="http://rektleague.com/media/stats/team_splashes/infernal-drake_ce4BE7n.png"
          alt=""
        />
      </mat-card>

      <!-- Schedule -->
      <mat-card class="mat-elevation-z5 overflow-hidden mb-5">
        <mat-card-header>
          <mat-card-title>Schedule</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Schedule carousel goes here
        </mat-card-content>
      </mat-card>

      <!-- Standings -->
      <mat-card class="mat-elevation-z5 overflow-hidden mb-5">
          <mat-card-header>
            <mat-card-title>Team Standings</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <rekt-table [data]="standingsData" [columnConfigs]="standingsTableConfig"></rekt-table>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
