<rekt-season-header></rekt-season-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0" *ngIf="seasonOverview?.winner">
      <!-- Season Champions -->
      <mat-card class="mat-elevation-z5 pb-0 overflow-hidden mb-5">
        <p class="mat-card-title mb-0">
          <span class="cursor-pointer d-inline-flex align-items-center">
            Season Champions
          </span>
        </p>
        <img
          class="mat-card-image"
          [src]="imageService.imageUrlBase + seasonOverview.winner.splash"
          alt=""
        />
      </mat-card>
    </div>
    <div class="col-12 col-md-6 px-0 pr-md-1 pr-lg-2 pr-xl-3">
      <!-- Schedule -->
      <mat-card class="mat-elevation-z5 mb-5">
        <p class="mat-card-title mb-0">
          <span class="d-inline-flex align-items-center">
            Match Schedule
          </span>
        </p>
        <rekt-season-schedule [schedule]="seasonOverview?.schedule"></rekt-season-schedule>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 px-0 pl-md-1 pl-lg-2 pl-xl-3">
      <!-- Standings TODO: separate component-->
      <mat-card class="mat-elevation-z5 overflow-hidden">
        <div class="d-flex justify-content-between">
          <p class="mat-card-title mb-0">
            <span
              class="cursor-pointer d-inline-flex align-items-center"
              (click)="router.navigate(['/teams'])"
            >
              Team Standings <mat-icon class="ml-1">insert_chart</mat-icon>
            </span>
          </p>
          <button mat-icon-button [routerLink]="['/teams']"></button>
        </div>
        <mat-card-content *ngIf="standingsData">
          <rekt-table
            [data]="standingsData"
            [columnConfigs]="standingsTableConfig"
          ></rekt-table>
        </mat-card-content>
      </mat-card>
      <!-- Custom cell template for standings table -->
      <ng-template #teamCellTemplate let-columnData>
        <div class="team-cell-template d-flex align-items-center px-1">
          <img
            [src]="imageService.imageUrlBase + columnData.icon"
            alt=""
            class="icon mr-2 d-inline-flex"
          /><span class="d-inline-flex">{{ columnData.name }}</span>
          <!-- TODO: route to team with columnData.id -->
        </div>
      </ng-template>
    </div>
  </div>
</div>
