<rekt-app-header-bar
  [drawer]="drawer"
  [isSmallScreen$]="isSmallScreen$"
></rekt-app-header-bar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [opened]="!(isSmallScreen$ | async)"
    class="sidenav"
    [autoFocus]="false"
    [fixedInViewport]="false"
    [attr.role]="(isSmallScreen$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmallScreen$ | async) ? 'push' : 'side'"
  >
    <rekt-side-nav-content
      [isSmallScreen$]="isSmallScreen$"
    ></rekt-side-nav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
