<rekt-app-header-bar
  [drawer]="drawer"
  [isSmallScreen$]="isSmallScreen$"
></rekt-app-header-bar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [opened]="!(isSmallScreen$ | async)"
    class="sidenav"
    [autoFocus]="false"
    [fixedInViewport]="false"
    [attr.role]="(isSmallScreen$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmallScreen$ | async) ? 'push' : 'side'"

  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/season']" routerLinkActive="bg-p" >Season Overview</a>
      <a mat-list-item [routerLink]="['/players']" routerLinkActive="bg-p">Players</a>
      <a mat-list-item [routerLink]="['/teams']" routerLinkActive="bg-p">Teams</a>
      <a mat-list-item [routerLink]="['/champions']" routerLinkActive="bg-p">Champions</a>
      <a mat-list-item [routerLink]="['/graphs']" routerLinkActive="bg-p">Graphs</a>
    </mat-nav-list>
    <rekt-season-selector *ngIf="(isSmallScreen$ | async)" [layout]="'sideNav'"></rekt-season-selector>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="px-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
