
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// define custom palette (using http://mcg.mbitson.com)
$rekt-brand: (
    50 : #f6e6e7,
    100 : #e7c1c2,
    200 : #d8989a,
    300 : #c86e72,
    400 : #bc4f53,
    500 : #b03035,
    600 : #a92b30,
    700 : #a02428,
    800 : #971e22,
    900 : #871316,
    A100 : #ffbbbc,
    A200 : #ff888a,
    A400 : #ff5558,
    A700 : #ff3b3f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rekt-league-ui-primary: mat-palette($rekt-brand );
$rekt-league-ui-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rekt-league-ui-warn: mat-palette($mat-yellow);

// Create the theme object (a Sass map containing all of the palettes).
$rekt-league-ui-theme: mat-dark-theme($rekt-league-ui-primary, $rekt-league-ui-accent, $rekt-league-ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rekt-league-ui-theme);


// Create your Sass color vars (will be available in all the project)
$primary-color: mat-color($rekt-league-ui-primary);
$accent-color: mat-color($rekt-league-ui-accent);
$warn-color: mat-color($rekt-league-ui-warn);

.text-p{
  color: $primary-color !important;
}

.bg-p{
  background-color: $primary-color !important;
}
